* {margin: 0;
   padding: 0;
   border:0}

body {padding: 2% 0 0;
      background: #FF69B4;
      color: #2F4F4F;
      font-family: Verdana, Arial, Helvetica, sans-serif}

#container {width: 760px;
            margin: 0 auto;
            border: lpx solid #999}

#header {background: url(Pic2/header.jpg) no-repeat;
         width: 760px;
         height:158px}


#nav {background: url (Pic2/nav-bg.jpg) repeat-x;
      color: #f00;
      font-size: 80%;
      font-weight: bold;
      line-height: 1.8em;
      text-align: center;}

#nav ul {list-style-type: none;}

#nav li {display: inline; margin: 0 8px;}

#nav li a {color: #000000;}

#nav li a: hover {color: #f00;}

a {text_decoration: none;}
         
#nav li a {display:inline;
           margin: 0 8px;}

#text {width: 700px;
       font-size: .8em;
       color: #333;
       margin: 10px auto;
       float: left;}

#text p {text-align: justify;
         text-indent: 1.5em;
         margin: 0;
         padding: 0 15px;}


#text a {color: #396;}

#text a: hover {color: #f36;
                border-bottom: #f36 dotted 8px}

.ןנמדנאלל3 {width:300px; 
       height: 350px;
       margin: 0 0 0 15px;
       float: right;}

.ןנמדנאלל2 {width:300px; 
         height: 300px;
         margin: 10px 10px 0 15px;
         float: left;}

#news {background: #8B0A50;
       width: 185px;
       color: #FFFF00;
       margin: 10px 5px;
       float: right;}

#news ul {list-style: url(Pic2/marker.jpg) inside;}

#news li {font-size: 75%;
          padding: 5px 10px;}

#footer {background: #FFFF00;
         color: #fff;
         font-size: 70%;
         padding: 5px;
         clear: both;}

#footer a {color: #FF0000;}

#footer a:hover {color:#FF0000;}

#footer p {padding: 2px;
           text-align: center;}

.clearfloat {clear: both;}





   



