* {margin:0;
   padding:0;
   border:0}
body{padding: 10px 0 0;
     background:#fff;
     color: #333;
      font-family: verdana,Arial,Helvetica, sans-serif}
       #container {width: 760px;
                   margin: 0 auto}
#header {background: "карт2.jpg") no-repeat;
             width : 760px;
             height : 158px }
#nav {
     background: nav.jpg repeat-x;
       color:#f00;
       font-size : 80%;
       font-weight : bold;
       line-height: 1.8em;
       text-align: center;}
#nav ul {
        list-style-type: none;}
#nav li {
          display : inline;
          margin: 3px 8px;}
#nav li a {
          color:000000;}
#nav li a hover {
          color:f00;}
a {text-decoration: none;}
#text {
   widht: 545px;
   font-size: .8em;
   color: #333;
   margin: 15px auto;
   float: left;}
# text p {text-align: justify;
          text-indent: 1.5em;
          margin:0;
          padding: 0 15px;}
#text a {color: #396;}
#text a : hover {color : #f36;
                 border-botom: #f36 dotted 8px; }
.img1 { widht: 200px;
       height: 287 px;
       margin: 2px 4px;
       float: right;
} 
.img2 { widht: 200px;
       height: 200 px;
       margin: 10px 15px 0 15px;
       float: left;
}